footer {
  font-size: 14px;
  text-align: center;
  color: white;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  font-size: 45px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.temp-max {
  color: rgba(255, 255, 255, 0.863);
  text-align: center;
}

.temp-min {
  color: rgba(255, 255, 255, 0.678);
  text-align: center;
}

h3 {
  text-transform: capitalize;
}

.forecastdays {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 40px;
}

.button {
  background-color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  color: black;
  font-weight: bolder;
  padding: 6px 25px;
  transition: all 500ms ease;
}

.button:hover {
  background-color: rgba(207, 224, 238, 0.979);
  color: white;
  cursor: pointer;
}

.button-location {
  background-color: rgb(4, 138, 247);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  color: white;
  font-weight: bolder;
  margin-left: 10px;
  padding: 6px 12px;
  transition: all 500ms ease;
}

.button-location:hover {
  background-color: rgb(46, 175, 158);
  cursor: pointer;
}

.card-forecast,
.card-forecast-temp {
  text-align: center;
}

.card-forecast-city,
.card-forecast-temp,
.card-forecast {
  background-color: rgba(255, 255, 255, 0.068);
}
.card-forecast {
  margin-top: 20px;
}

.card-body:hover {
  background: linear-gradient(
    45deg,
    transparent 50%,
    rgba(255, 255, 255, 0.05) 58%,
    rgba(255, 255, 255, 0.16) 67%,
    transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

.searcher {
  margin: 25px 0px;
}

.weather-app {
  background: rgba(21, 198, 204, 0.788);
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  display: block;
  margin: auto;
  max-width: 80%;
  padding: 20px;
}

#city-name {
  color: rgb(250, 255, 255);
  font-size: 40px;
}

#concurrent-day {
  font-size: 25px;
  text-transform: lowercase;
}

#concurrent-temp {
  font-size: 30px;
}

#clock {
  font-size: 26px;
}

#main-icon {
  width: 60px;
}

#videoback {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

#video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
